:root{
  --blue: #0275A2;
  --orange: #40f058;
  --darker-green: #2ba03b;
  --secundary-green: #35c548;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fff;
}