.error-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-container h1 {
  color: rgb(253, 16, 16);
}

.error-container a {
  text-decoration: none;
}

.error-container a button {
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  background-color: var(--blue);
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease, scale 0.5s ease;
}

.error-container a button:hover {
  transform: scale(1.1);
}
